<mat-card>
  <mat-card-header>
    <mat-card-title>Create Item Form</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- put the form here -->
    <form #formulario="ngForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input  matInput  placeholder="Nombre"
                [(ngModel)]="modelo.name"  name="nombre"
                required minlength="4" maxlength="20" #nombre='ngModel'>
        <div *ngIf="formulario.submitted && formulario.invalid">
          <div [hidden]="!nombre.errors.required">
            El Nombre no debe estar vacío
          </div>
          <div [hidden]="!nombre.errors.minlength">
            El Nombre debe tener al menos 4 caracteres
          </div>
          <div [hidden]="!nombre.errors.maxlength">
            El Nombre debe tener menos de 20 caracteres
          </div>
        </div>
      </mat-form-field>
      <div>
        <mat-checkbox name = 'activo' [(ngModel)]='modelo.activo' [checked]="modelo.activo">Activo?</mat-checkbox>
      </div>
      <div>
        <mat-label>Tipo</mat-label>
        <mat-radio-group name = "tipo" [(ngModel)]="modelo.tipo">
          <mat-radio-button name ='tipo' value="alto">Alto</mat-radio-button>
          <mat-radio-button name ='tipo' value="bajo">Bajo</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input  name ="fecha" [(ngModel)]="modelo.fecha" matInput [matDatepicker]="myPicker"  placeholder="mm/dd/aaaa">
        <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <mat-select name="contenido" [(ngModel)]="modelo.contenido" placeholder="Tipo de contenido">
          <mat-option value="pagina">Página</mat-option>
          <mat-option value="post">Post</mat-option>
          <mat-option value="media">Media</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button (click)="save()"  color="primary">Save Contact</button>
  </mat-card-actions>
</mat-card>
